/**
 * Self-hosted Google Fonts
 * https://gwfh.mranftl.com/fonts
 */

@font-face {
	font-display: swap;
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/pt-sans-v17-latin-regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "VT323";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/vt323-v17-latin-regular.woff2") format("woff2");
}
